* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-section {
    height: 500px;
    width: 800px;
}

.main-section .row {
    width: 100%;
    height: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row.center {
    justify-content: center;
}

.block {
    height: 90%;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block p {
    font-size: 24px;
    color: black;
}

#block1 {
    background: red;
    border: 2px solid black;
    border-radius: 6px;
}

#block2 {
    background: yellow;
    border: 2px solid black;
    border-radius: 6px;
}

#block3 {
    background: green;
    border: 2px solid black;
    border-radius: 6px;
}

#block4 {
    background: orange;
    border: 2px solid black;
    border-radius: 6px;
}

.btn {
    padding: 10px;
    color: black;
    background-color: bisque;
    font-size: 14px;
    border-radius: 8px;
}

.btn:first-child {
    margin-right: 10px;
}

.instruction-section {
    margin-bottom: 50px;
}

.instruction-section p {
    margin-bottom: 10px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

.instruction-section ul {
    font-size: 16px;
    color: #000;
    list-style: none;
}

.instruction-section ul li {
    margin-bottom: 10px;
}